<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    <title>{{ title }}</title>
    {% endblock %}
    {% if NODE_ENV == "development" %}
      <script type="module" src="{{ CLIENT_URL }}/@vite/client" defer></script>
      <script type="module" src="{{ CLIENT_URL }}/src/main.js" defer></script>
    {% else %}

    <link rel="stylesheet" href="/index.css" />
    <script src="/index.js" defer></script>
    {% endif %}
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </head>

  <body>
    <header>

    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer>Deze footer staat op elke pagina

      {% if app %}
      {{ app }}
      {% endif %}

    </footer>
    {% render 'components/nav.liquid' user: user  %}
  </body>

</html>