header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 1rem; */
  background-color: var(--color-white);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 10000;
}

footer {
  padding: 1rem;
}

main {
  min-height: 80svh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
