{% layout "layouts/base.liquid" %} {% block content %}

<h1 class="h1">{{ title }}</h1>
{% if locals %}
<p>{{locals}}</p>  
{% endif %}

{% comment %} <ul class="grid">
  {% for item in items %}
  <li>
    <a href="/plant/{{ item.id }}">
      {% render 'components/card/card.liquid', item: item %}
    </a>
  </li>
  {% endfor %}
</ul> {% endcomment %}

{% endblock %}
