{% layout "layouts/base.liquid" %}
{% block content %}

{% block scripts %}
{% comment %} <script type="module" src="http://localhost:5173/src/register.js" defer></script> {% endcomment %}
{% endblock %}


<h1 class="h1">{{ title }}</h1>
<form action="/register" id="register-form" method="POST" >
<div id='register-error'></div>
  <div class="form-group">
    <label for="username">Email</label>
    <input autocomplete="email" type="email" id="username" name="username"
           placeholder="your@email.com" required value="giovanni@giovanni.nl">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input autocomplete="name" type="text" name="name" id="name" placeholder="name" required value="Giovanni">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input autocomplete="new-password" type="password" id="password" name="password"
           placeholder="Your Password" required value="giovanni">
  </div>
  <input type="submit">Register</input>

  <div>Already have an account?
    <a href="/login">Go to login page</a>
  </div>

</form>

{% endblock %}