

#room-list a.active {
  /* font-weight: bold; */


  background: var(--color-bg-alt);
  border-radius: var(--radius-lg);
}

.icon-w-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.create-room-container {
  
  padding: 1em;
}



.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;


  
/* button */

  border-radius: var(--radius-round);
  padding-inline: 0;
  padding-block: 0;
  padding: var(--space-xs);
  
}


.chat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
  height: 100%;

  height: 100%;
}

.chat .chat-messages {
  flex-grow: 2;
}


form#chat-form {
  display: flex;
  width: 100%;
  gap: 0.5em;
} 

form#chat-form input[type='text'] {
  font-size: 1rem;
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid var(--color-border);
  border-radius: 4px;
} 

form#chat-form button#chat-send-btn {
  padding: 0.5em .5em;
  background-color: var(--color-primary);
  color: white;
  font-size: 1.25rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
