body {
  font-family: system-ui, sans-serif;
  font-weight: 400;
}

.h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}

.icon {  
  width: 1em; /* 1em equals the current font-size */
  height: 1em; /* 1em equals the current font-size */
  font-display: block;
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}


.active > .icon {

  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20;
}
