/* global styles */
@import './reset.css';
@import './typography.css';

/*.layout and view styling */
@import '@/views/layouts/base.css';
@import '@/views/index.css';

/* component styling */
@import '@/views/components/card/card.css';

body {
  color: black;
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}
